<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Emotion Face Classifier</title>

  <meta name="description" content="Emotion Face Classifier">
  <meta name="author" content="Danny Lumian">

</head>

<body>

  <h1>Emotion Face Classifier</h1>
  <p>No faces found! Your image:</p>
  
    <p><img src="{{ response }}"" alt="Image1"></p>

    <!doctype html>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
        <p><input type=file name=file>
          <input type=submit value=Upload>

    </form>

</body>
</html>

